@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">All Algorithms</h1>
    <div class="row">
        <div class="col">
            <div class="home-link">

            </div>
        </div>
    </div>
</div>
